<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <title>Code-Corner</title>
  </head>
  <body>

    <header>
      <p class="mainTitle">Code-Corner</p>
      <h2 class="oneLiner">A space to share knowledge and grow together!</h2>
      <nav class="navBar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li>
            {{#if logged_in}}
              <a id="logoutButton" href="/login">Logout</a>
            {{else}}
              <a id="loginButton" href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logoutHandle.js"></script>
    {{/if}}

  </body>
</html>