{{#each posts}}
  <div class="postDiv">
    <h2 class="postTitle">{{title}}</h2>
    <p>{{text}}</p>
    <p><span class="postedBy">Posted by</span> <span class="username">{{User.username}}</span> <span class="postedBy">on</span> <span class="createdOn">{{format_time createdAt}}</span></p>
  </div>
{{/each}}