button {
  background: whitesmoke;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

input {
  border-radius: 10px;
}

/* ! These styles are for the header and main layout */

body {
  background: linear-gradient(90deg, cornflowerblue, coral);
  font-family: "Source Code Pro", monospace;
}

.mainTitle {
  color: lightsalmon;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 40px;
}

.oneLiner {
  margin-top: 0px;
  color: lightblue;
}

/* Reset default list styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Display list items horizontally */
ul li {
  display: inline-block;
  margin-right: 10px; /* Optional: Adjust the spacing between list items */
}

/* Style the anchor links */
ul li a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set the text color */
}

/* ! These styles are for each Post in homepage and dashboard */
#newPostForm, #changePasswordForm {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Adjust the max-width as needed */
  margin: auto; /* Center the form horizontally */
  margin-bottom: 20px;
}

.postDiv {
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 8px 0px;
  padding-left: 10px;
  background: rgb(93, 197, 232);
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.postTitle {
  text-decoration: underline;
  margin-top: 3px;
}

.username {
}

.postedBy {
}

.createdOn {
}

/* ! Styles for comment divs */

.commentsContainer {
  background: lightblue;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 2px;
  width: 96%;
  margin-bottom: 5px;
  padding-bottom: 3px;
}

.comment,
.commentDiv {
  background: lightsalmon;
  border-radius: 10px;
  width: 96%;
  padding-left: 5px;
  padding-bottom: 1px;
}

.commentText {
  font-weight: bold;
}

/* ! Styling for editPostForm and editCommentForm*/
.editForm {
  background: lightsalmon;
  border-radius: 10px;
  width: 96%;
  padding-left: 5px;
}

.underline {
  text-decoration: underline;
}

#currentPassword,
#newPassword {
  border-radius: 10px;
}

#deleteAccountButton {
  height: 50px;
  background: red;
}

.alignCenter {
  text-align: center;
  margin-top: 20px;
}